@inherits Umbraco.Web.Macros.PartialViewMacroPage

    <div class="copyrights" style="bottom:0; position:fixed; font-size:14px;">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center" style="text-align:center">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018    Design By: Robert Patrascu</p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->