@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	var selection = Model.Content.Site().FirstChild("projectsMain").Children("projectItems")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}

	@foreach(var item in selection){
		  <div class="col-sm-6">
		      <div class="panel panel-default">
                <div class="panel-body">

			        <a href="@item.Url">@item.Name</a>
	            </div>
              </div>
            </div>
	}

