@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@if (!Members.GetCurrentLoginStatus().IsLoggedIn) {
@Html.Partial("Login")
} else 
{
<div class="container">
@Html.Partial("Logout") 
</div>
}